body {
  font-family: sans-serif;
  background-color: #ede0d4;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: #7f5539;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1 {
  text-align: center;
  color: #7f5539;
}

h3 {
  color: #7f5539;
}

.container-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-card {
  background-color: #b08968;
  justify-content: space-between;
  width: 220px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}
